.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.chapter-list{
    border-radius: 0 7px 10px 7px;
  background-color: rgba(15, 14, 14, 0.8);
  width: 500px;
  margin: 20px;
}
.info-section{
    border-radius: 0 7px 10px 7px;
  background-color: rgba(15, 14, 14, 0.8);
  width: 1000px;
  margin: 20px;
}
