/* 
body {
    background: linear-gradient(90deg, #cf9859, #fcf1cb);
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
}

.login-form {}

.login {
    width: 320px;
    padding: 30px;
    border-radius: 0 7px 10px 7px;
    background-color: rgba(15, 14, 14, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    margin-top: 50px;
}

.login__input {
    background: transparent;
    border-radius: 10px 7px 10px 7px;
    border: none;
    border-bottom: 2px solid white;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 250px;
    transition: .2s;
    color: white;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: orange;
}