.header__content a {
  text-decoration: none;
  color: white;
}

.header__content ul {
  list-style: none;
}


/* NORMAL STYLES */
.header {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  top: 0;
  font-family: 'WixMadeforDisplay-Regular';
  text-transform: lowercase;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  text-transform: uppercase;
  font-family: 'WixMadeforDisplay-Bold';
}


.nav {}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  transition: all 0.4s;
  position: relative;
}

.nav__link:hover {
  top: -10%;
  transition: all .4s;
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  .header__content {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    row-gap: 18px;
  }

  .nav__list {
    column-gap: 20px;
  }
}